/* General */

body {
    margin: 0;
    height: 100vh;
}
 
/* Home Page */
.home-page_content {
    margin: 0; 
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.center-info {
    width: 50%;
    margin-top: 90px;
}

.center-info p {
    font-size: 18px;
    margin-right: 20%;;
}

button {
    display: inline-block;
    background-color: rgb(15, 15, 14);  
    border: none;
    text-decoration: none;
    padding: 10px 32px;
    text-align: center;
    font-size: 18px;
    color: white;
}

/* Portfolio Page */

.nav-link {
    color: black;
    font-size: 18px;
    padding-top: 15px;
}

.collapse {
    justify-content: flex-end;
}

/* Portfolio Page */
.container {
    width: 80%;
    margin: 2rem auto; 
    height: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column: 1 / span 2;   
  grid-row: 1 / span 2;
}

.gallery__item--2 {
  grid-column: 3 / span 2; 
  grid-row: 1 / span 2;
}

.gallery__item--3 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}

.gallery__item--4 {
  grid-column: 1 / span 4; 
  grid-row: 3 / span 3;
}

.gallery__item--5 {
  grid-column: 1 / span 4;
  grid-row: 6 / span 3;
}

.gallery__item--6 {
  grid-column: 5 / span 4;
  grid-row: 6 / span 3;
}

.gallery__item--4 {
  grid-column: 1 / span 4; 
  grid-row: 3 / span 3;
}

.gallery__item--5 {
  grid-column: 1 / span 4;
  grid-row: 6 / span 3;
}

.gallery__item--6 {
  grid-column: 5 / span 4;
  grid-row: 6 / span 3;
}

.gallery__item--7 {
  grid-column: 1 / span 3;
  grid-row: 9 / span 3;
}

.gallery__item--8 {
  grid-column: 4 / span 2;
  grid-row: 9 / span 1;
}

.gallery__item--9 {
  grid-column: 7 / span 2;
  grid-row: 10 / span 1;
}

.gallery__item--10 {
  grid-column: 6 / span 3;
  grid-row: 9 / span 1;
}

.gallery__item--11 {
  grid-column: 4 / span 3;
  grid-row: 10 / span 2;
}

.gallery__item--12 {
  grid-column: 7 / span 2;
  grid-row: 11 / span 1;
}

.gallery__item--13 {
  grid-column: 1 / span 3;
  grid-row: 12 / span 1;
}

.gallery__item--14 {
    grid-column: 6 / span 3;
    grid-row: 12 / span 1;
}

.gallery__item--15 {
  grid-column: 4 / span 2;
  grid-row: 12 / span 1;
}

/* About Page */
.center-info_about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
}

.center-info_greeting {
    font-size: 100px;
    font-weight: bold;
    align-content: center;
}

#bold-text {
    font-weight: bold;
}

/* Reviews Page */
#reviews-heading {
    margin-left: 12%;
    margin-top: 2%;
}

.center-info_reviews {
    width: 70%;
    margin: 2rem auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review-item {
    width: 70%;
    margin-bottom: 2%;
}

.review {
    margin: 0;
}

.author {
    font-weight: bold;
}


@media only screen and (max-width: 670px) {
    .home-page_content {
        flex-direction: column-reverse;
        width: 150%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }


    .center-info p { 
        margin-right: 0;
    }
}